.dashboard__card {
    position: relative;
    padding-top: 2.5rem;
    cursor: pointer;
}

.dashboard__card__back,
.dashboard__card__front {
    border-radius: 10px;
    padding: 1.5rem;
}

.dashboard__card__back {
    position: absolute;
    inset: 0 0 10px 0;
    background-color: var(--back-bg);
    z-index: -1;
    overflow: hidden;
}
.dashboard__card__back img {
    display: block;
    margin-left: auto;
    position: relative;
    width: 3.5rem;
    top: -2rem;
}
.dashboard__card__front {
    background-color: var(--blue600);
    transition: background-color 0.2s linear;
}

.dashboard__card__front__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: white;
}

.dashboard__card__front__header h2 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.dashboard__card__front__content h3 {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    margin-bottom: 0.3rem;
}

.dashboard__card__front__content p {
    color: var(--blue200);
    font-size: 1rem;
    font-weight: 400;
}

.dashboard__card__front:hover {
    background-color: hsl(235, 40%, 30%);
}

@media (max-width: 545px) {
    .dashboard__card__front__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dashboard__card__front__content h3 {
        font-size: 2.5rem;
    }
}
