@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --blue800: hsl(226, 43%, 10%);
    --blue600: hsl(235, 46%, 20%);
    --blue300: hsl(235, 45%, 61%);
    --blue200: hsl(236, 100%, 87%);
    font-size: calc(1rem + 2px);
}

body {
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--blue800);
}

#root {
    width: 100%;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
}

button {
    background: none;
    border: none;
    width: max-content;
}

@media (max-width: 500px) {
    #root {
        padding: 1.5rem;
    }
}
