@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: hsl(246, 80%, 60%);
    --blue800: hsl(226, 43%, 10%);
    --blue600: hsl(235, 46%, 20%);
    --blue300: hsl(235, 45%, 61%);
    --blue200: hsl(236, 100%, 87%);
}

body {
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: none;
    border: none;
}
